:root {
    --primary-color: #fb8500;
    --background-color: #ffb703;
    --text-color: #023047;
}

@keyframes navbar {
    0% {
        background-color: var(--primary-color);
    }
    50% {
        background-color: var(--background-color);
    }
    100% {
        background-color: var(--primary-color);
    }
}

@keyframes itemsNav {
    0% {
        color: #000000;
    }
    50% {
        color: var(--text-color);
    }
    100% {
        color: #000000;
    }
}

#rouzajorPhoto {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 400px;
}

#brand {
    font-family: 'Zilla Slab', serif;
    color: black;
    font-size: 50px;
    margin-right: 100px;
    animation-name: itemsNav;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#navBar {
    animation-name: navbar;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.regularText {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin: 10px;
}

.listText {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin: 5px;
}

.header {
    font-family: 'Zilla Slab', serif;
    text-align: center;
    color: var(--text-color);
    margin: 20px;
}

.itemNav {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    margin-right: 30px;
}

.wordsNav {
    animation-name: itemsNav;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.interestsPhoto {
    display: block;
    margin: auto;
    box-shadow: 0 4px 8px 0 var(--background-color), 0 6px 20px 0 var(--background-color);
    height: 50%;
    width: 50%;
}

.experiencePhoto {
    display: block;
    margin: auto;
    max-width: 150px;
    max-height: 150px;
}

.flex-container {
    margin: 10px;
    display: flex;
}